/*Write your custom css in this file.*/
#profile-image-section .custom-btn-group{
    float: right;
}
#profile-image-section .custom-btn-group>form{
    padding: 0px;
}
#profile-image-section .fade-btn{
    padding: 10px 15px;
    margin-top: 10px;
}